# Log Files 
*.log

# Numerous always-ignore extensions  
*.bak  
*.patch  
*.diff  
*.err 

# Optional eslint cache
.eslintcache

# Optional npm cache directory
.npm

# Windows image file caches
Thumbs.db
ehthumbs.db