/*整体处理*/
body{
	margin: 0;
	padding: 0;
	min-width: 1200px;
}
/*浮动图片*/
.photo{
	position: absolute;
	left: 0;
	top: 0;
	width: 300px;
	height: 100px;
	z-index: 999;
}
.photo img{
	width: 300px;
	height: 100px;
	z-index: 999;
}
/*回到顶部箭头*/
.up{
	position: fixed;
    right:0;
    top:520px;
    display: none;
}
/*整体a标签处理*/
a{
	text-decoration: none;
}
/*顶部*/
.header{
	height: 200px;
	width: 100%;
	position: relative;
}
/*头部*/
.header img{
	height: 200px;
	width:100%;
}
.header .set{
	position: absolute;
	right: 50px;
	top: 10px;
}
.header .set span{
	padding-right: 40px;
	font-family: Kaiti;
	color: #ffffff;
	cursor: pointer;
	height: 28px;
	line-height: 28px;
}
.header .set form{
	float: right;
}
.header .set .input-1{
	height: 25px;
	width: 180px;
	border: thin solid #7ab5dd;
	opacity: 0.5;
	border-radius: 5px 0px 0px 5px;
	padding-left: 5px;
}
.header .set .input-2{
	height: 28px;
	width: 50px;
	border: thin solid #084466;
	color: #ffffff;
	background: #084466;
	cursor: pointer;
	font-size: 14px;
	opacity: 0.5;
}
/*导航栏*/
.nav{
	width: 100%;
	height: 50px;
	background: #084466;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
.nav ul{
	height: 50px;
	padding: 0;
	margin: 0 auto;
	line-height: 50px;
	width: 1080px;
}
.nav ul .nav-show{
	float: left;
	list-style: none;
	text-align: center;
	width: 120px;
	color: #ffffff;
	cursor: pointer;
	height: 50px;
}
.nav ul li a{
	display: block;
	text-decoration: none;
	color: #ffffff;
	
}
.nav ul li ol{
	list-style: none;
	padding: 0;
	font-size: 14px;
	color: #ffffff;
	background: #084466;
	z-index: 999;
	display: none;
}
.nav>ul>li>ol>li{
	width: 180px;
	position: relative;
	text-align: center;
	height: 40px;
	line-height: 40px;
	padding: 0px;
	z-index: 999;
	background: #084466;
}
/*主体*/
.main{
	background: #d6e8f4;
	height: 1000px;
	width: 100%;
}
/*主体上部分*/
.main .main-top{
	width: 1180px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}
.main .main-top img{
	width: 100%;
	height: 100px;
}
.main .main-top p{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	margin: 0 auto;
	font-size: 48px;
	color: #ffffff;
	line-height: 100px;
	font-family: Kaiti;
	cursor: pointer;
}
/*主体下部分*/
.main .main-bottom{
	width: 1180px;
	margin: 2px auto;
	position: relative;
	height: 850px;
	background: #ffffff;
}
.main .main-bottom .line{
	float: left;
	margin-top: 8px ;
	margin-bottom: 8px;
	margin-left: 1.5%;
}
/*图片轮播区域*/
.main .main-bottom .section-1{
	height: 300px;
	width: 340px;
	position: relative;
	overflow: hidden;
}
.main .main-bottom .section-1 li{
	list-style-type: none;
}
.main .main-bottom .section-1 ul li{
	float: left;
	width: 340px;
	height: 300px;
	position: absolute;
	left: 0;
	top: 0;
}
.main .main-bottom .section-1 ul{
	width: 1020px;
	height: 300px;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.main .main-bottom .section-1 ol{
	position: absolute;
	bottom: 40px;
	right: 0;
	padding: 0;
	margin: 0;
}
.main .main-bottom .section-1 ol li{
	float: left;
	width: 22px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	border: #cccccc;
	background:#666666; 
	color:#ffffff;
	margin-left: 2px;
	cursor: pointer;
}
.main .main-bottom .section-1 ol li.current{
	background: #ff0000;
}
.main .main-bottom .section-1 ul li .p1{
	margin: 0;
	position: absolute;
	bottom: 12px;
	left: 48px;
	font-size: 12px;
	cursor: pointer;
	width: 340px;
	height: 20px;
}
.main .main-bottom .section-1 ul li .p2{
	margin: 0;
	position: absolute;
	bottom: 12px;
	left: 410px;
	font-size: 12px;
	cursor: pointer;
	width: 340px;
	height: 20px;
}
.main .main-bottom .section-1 ul li .p3{
	margin: 0;
	position: absolute;
	bottom: 12px;
	left: 750px;
	font-size: 12px;
	cursor: pointer;
	width: 340px;
	height: 20px;
}
.main .main-bottom .section-1 .picture{
	height: 260px;
	width: 340px;
	position: absolute;
	left: 0;
}
.main .main-bottom .section-1 .picture1{
	height: 260px;
	width: 340px;
	position: absolute;
	left: 340px;
}
.main .main-bottom .section-1 .picture2{
	height: 260px;
	width: 340px;
	position: absolute;
	left: 680px;
}
/*文字区域*/
.main .main-bottom .section-2{
	height: 300px;
	width: 400px;
	position: relative;
}
.main .main-bottom .section-2 .section-2-top{
	width:102%;
	height: 30px;
	background: #f0f0f0;
	position: absolute;
	right: 0;
}
.main .main-bottom .section-2 .section-2-top .top-1{
	float: right;
}
.main .main-bottom .section-2 .section-2-top .title{
	width: 30%;
	height: 30px;
	line-height: 30px;
	background: #084466;
	color: #ffffff;
	text-align: center;
	margin-right: 70px;
	cursor: pointer;
}
.main .main-bottom .section-2 .section-2-top .more{
	line-height: 30px;
	color: #c2c2dd;
	cursor: pointer;
}
.main .main-bottom .section-2 .section-2-top a{
	color: #c2c2dd;
}
.main .main-bottom .section-2 .section-2-top .arrowhead{
	width: 20px;
	height: 20px;
	border-radius: 50px;
	color: #ffffff;
	background: #f5aa02;
	line-height: 20px;
	margin-top: 5px;
	cursor: pointer;
}
.main .main-bottom .section-2 .section-2-bottom{
	height: 270px;
	width: 100%;
	position: absolute;
	top: 30px;
}
.main .main-bottom .section-2 .section-2-bottom ul{
	padding-left: 0;
	list-style-type: none;
	list-style: url("../images/links_title.gif");
	width: 100%;
	height: 270px;
	font-size: 13px;
	margin: 0;
}
.main .main-bottom .section-2 .section-2-bottom ul .li-1 a{
	color: #da0300;
}
.main .main-bottom .section-2 .section-2-bottom ul li{
	cursor: pointer;
	height: 25px;
	line-height: 25px;
	padding-top: 12px;
}
.main .main-bottom .section-2 .section-2-bottom ul a{
	color: black;
}
.main .main-bottom .section-2 .section-2-bottom ul li span{
	float: right;
}
.main .main-bottom .section-3{
	height: 300px;
	width: 350px;
	position: relative;
}
.main .main-bottom .section-3 .section-3-top{
	width: 102%;
	height: 30px;
	background: #f0f0f0;
	position: absolute;
	right: 0;
}
.main .main-bottom .section-3 .section-3-top .top-1{
	float: right;
}
.main .main-bottom .section-3 .section-3-top .title{
	width: 30%;
	height: 30px;
	line-height: 30px;
	background: #084466;
	color: #ffffff;
	text-align: center;
	margin-right: 70px;
	cursor: pointer;
}
.main .main-bottom .section-3 .section-3-top .more{
	line-height: 30px;
	color: #c2c2dd;
	cursor: pointer;
}
.main .main-bottom .section-3 .section-3-top a{
	color: #c2c2dd;
}
.main .main-bottom .section-3 .section-3-top .arrowhead{
	width: 20px;
	height: 20px;
	border-radius: 50px;
	color: #ffffff;
	background: #f5aa02;
	line-height: 20px;
	margin-top: 5px;
	cursor: pointer;
}
.main .main-bottom .section-3 .section-3-bottom{
	height: 270px;
	width: 100%;
	position: absolute;
	top: 30px;
}
.main .main-bottom .section-3 .section-3-bottom ul{
	padding-left: 10px;
	list-style-type: square;
	width: 100%;
	height: 270px;
	font-size: 14px;
	margin: 0;
}
.main .main-bottom .section-3 .section-3-bottom ul li{
	margin-top: 13px;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	text-indent: 30px;
	color: #fe6625;
	font-size: 40px;
	position: relative;
}
.main .main-bottom .section-3 .section-3-bottom ul p{
	color: black;
	font-size: 13px;
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0;
	height: 30px;
	line-height: 30px;
}
.main .main-bottom .section-3 .section-3-bottom ul li span{
	float: right;
}
.main .main-bottom .section-4{
	height: 300px;
	width: 31%;
	position: relative;
}
.main .main-bottom .section-4 .section-4-top{
	height: 42px;
	width: 100%;
	position: relative;
}
.main .main-bottom .section-4 .section-4-top .top-1{
	float: right;
}
.main .main-bottom .section-4 .section-4-top .more{
	line-height: 40px;
	height: 40px;
	color: #c2c2dd;
	cursor: pointer;
	position: absolute;
	right: 20px;
}
.main .main-bottom .section-4 .section-4-top a{
	color: #c2c2dd;
}
.main .main-bottom .section-4 .section-4-top .arrowhead{
	width: 20px;
	height: 20px;
	border-radius: 50px;
	color: #ffffff;
	background: #f5aa02;
	line-height: 20px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 0;
}
.main .main-bottom .section-4 .section-4-top .title{
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: #950101;
	position: absolute;
	left: 30px;
	cursor: pointer;
}
.main .main-bottom .section-4 .section-4-top .pc1{
	height: 40px;
	line-height: 50px;
	position: absolute;
	left: -8px;
}
.main .main-bottom .section-4 .section-4-top .pc1 img{
	height: 20px;
}
.main .main-bottom .section-4 .section-4-top .pc2{
	height: 2px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 102%;
}
.main .main-bottom .section-4 .section-4-top .pc2 img{
	height: 2px;
	width: 100%;
	position: absolute;
}
.main .main-bottom .section-4 .section-4-bottom{
	height: 250px;
	width: 100%;
	position: absolute;
	top: 42px;
}
.main .main-bottom .section-4 .section-4-bottom ul{
	padding-left: 0;
	list-style-type: none;
	list-style: url("../images/jiantou.png");
	width: 100%;
	height: 250px;
	font-size: 14px;
	margin: 0;
}
.main .main-bottom .section-4 .section-4-bottom ul li{
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	padding-top: 12px;
	color: #da0300;
}
.main .main-bottom .section-4 .section-4-bottom ul a{
	color: #da0300;
}
.main .main-bottom .section-4 .section-4-bottom ul li span{
	float: right;
}
.main .main-bottom .section-5{
	height: 300px;
	width: 31%;
	position: relative;
}
.main .main-bottom .section-5 .section-5-top{
	height: 42px;
	width: 100%;
	position: relative;
}
.main .main-bottom .section-5 .section-5-top .top-1{
	float: right;
}
.main .main-bottom .section-5 .section-5-top .more{
	line-height: 40px;
	height: 40px;
	color: #c2c2dd;
	cursor: pointer;
	position: absolute;
	right: 20px;
}
.main .main-bottom .section-5 .section-5-top a{
	color: #c2c2dd;
}
.main .main-bottom .section-5 .section-5-top .arrowhead{
	width: 20px;
	height: 20px;
	border-radius: 50px;
	color: #ffffff;
	background: #f5aa02;
	line-height: 20px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 0;
}
.main .main-bottom .section-5 .section-5-top .title{
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: #950101;
	position: absolute;
	left: 30px;
	cursor: pointer;
}
.main .main-bottom .section-5 .section-5-top .pc1{
	height: 40px;
	line-height: 50px;
	position: absolute;
	left: -8px;
}
.main .main-bottom .section-5 .section-5-top .pc1 img{
	height: 20px;
}
.main .main-bottom .section-5 .section-5-top .pc2{
	height: 2px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 102%;
}
.main .main-bottom .section-5 .section-5-top .pc2 img{
	height: 2px;
	width: 100%;
	position: absolute;
}
.main .main-bottom .section-5 .section-5-bottom{
	height: 250px;
	width: 100%;
	position: absolute;
	top: 42px;
}
.main .main-bottom .section-5 .section-5-bottom ul{
	padding-left: 0;
	list-style-type: none;
	list-style: url("../images/jiantou.png");
	width: 100%;
	height: 250px;
	font-size: 14px;
	margin: 0;
}
.main .main-bottom .section-5 .section-5-bottom ul .li-2 a{
	color: #da0300;
}
.main .main-bottom .section-5 .section-5-bottom ul li{
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	padding-top: 12px;
}
.main .main-bottom .section-5 .section-5-bottom ul a{
	color: black;
}
.main .main-bottom .section-5 .section-5-bottom ul li span{
	float: right;
}
.main .main-bottom .section-6{
	height: 300px;
	width: 31%;
	position: relative;
}
.main .main-bottom .section-6 .section-6-top{
	height: 42px;
	width: 100%;
	position: relative;
}
.main .main-bottom .section-6 .section-6-top .top-1{
	float: right;
}
.main .main-bottom .section-6 .section-6-top .more{
	line-height: 40px;
	height: 40px;
	color: #c2c2dd;
	cursor: pointer;
	position: absolute;
	right: 20px;
}
.main .main-bottom .section-6 .section-6-top a{
	color: #c2c2dd;
}
.main .main-bottom .section-6 .section-6-top .arrowhead{
	width: 20px;
	height: 20px;
	border-radius: 50px;
	color: #ffffff;
	background: #f5aa02;
	line-height: 20px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 0;
}
.main .main-bottom .section-6 .section-6-top .title{
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: #950101;
	position: absolute;
	left: 30px;
	cursor: pointer;
}
.main .main-bottom .section-6 .section-6-top .pc1{
	height: 40px;
	line-height: 50px;
	position: absolute;
	left: -8px;
}
.main .main-bottom .section-6 .section-6-top .pc1 img{
	height: 20px;
}
.main .main-bottom .section-6 .section-6-top .pc2{
	height: 2px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 102%;
}
.main .main-bottom .section-6 .section-6-top .pc2 img{
	height: 2px;
	width: 100%;
	position: absolute;
}
.main .main-bottom .section-6 .section-6-bottom{
	height: 250px;
	width: 100%;
	position: absolute;
	top: 42px;
}
.main .main-bottom .section-6 .section-6-bottom ul{
	padding-left: 0;
	list-style-type: none;
	list-style: url("../images/jiantou.png");
	width: 100%;
	height: 250px;
	font-size: 14px;
	margin: 0;
}
.main .main-bottom .section-6 .section-6-bottom ul li{
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	padding-top: 12px;
}
.main .main-bottom .section-6 .section-6-bottom ul a{
	color: black;
}
.main .main-bottom .section-6 .section-6-bottom ul li span{
	float: right;
}
.main .main-bottom .section-7{
	height: 150px;
	width: 96%;
	position: relative;
}
/*下方图片区域*/
.main .main-bottom .section-7 .line-1{
	float: left;
}
.main .main-bottom .section-7 .left{
	width: 12%;
	height: 150px;
	margin-left: 2%;
	margin-right: 2%;
	background: #f0f0f0;
}
.main .main-bottom .section-7 .left img{
	width: 80%;
	height: 120px;
	margin-top: 5px;
	margin-left: 10%;
}
.main .main-bottom .section-7 .left p{
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
}
.main .main-bottom .section-7 .middle{
	width: 68%;
	height: 150px;
	margin-right: 2%;
}
.main .main-bottom .section-7 .middle .middle-top{
	width: 100%;
	height: 30px;
	background: #f0f0f0;
}
.main .main-bottom .section-7 .middle .middle-top div{
	height: 30px;
	width: 15%;
	color: #ffffff;
	background: #084466;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	cursor: pointer;
}
.main .main-bottom .section-7 .middle .middle-bottom{
	width: 100%;
	height: 110px;
	border: thin dashed #990000;
	border-radius: 5px;
	margin-top: 7px;
}
.main .main-bottom .section-7 .middle .middle-bottom div{
	width: 16%;
	height: 60px;
	float: left;
	margin-top: 25px;
	margin-left: 3%;
}
.main .main-bottom .section-7 .middle .middle-bottom div img{
	width: 100%;
	height: 60px;
}
.main .main-bottom .section-7 .right{
	width: 12%;
	height: 150px;
	background: #f0f0f0;
}
.main .main-bottom .section-7 .right img{
	width: 80%;
	height: 120px;
	margin-top: 5px;
	margin-left: 10%;
}
.main .main-bottom .section-7 .right p{
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
}
/*页脚*/
.footer{
	height: 100px;
	width: 100%;
	background: #d6e8f4;
}
.footer .footer-top{
	width: 90%;
	height: 30px;
	background: #04628d;
	margin: 0 auto;
}
.footer .footer-bottom{
	width: 80%;
	height: 50px;
	margin: 0 auto;
}
.footer .footer-bottom p{
	text-align: center;
	margin: 5px auto;
	cursor: pointer;
}