html,body{
    padding: 0;
    margin: 0;
}
.top{
    width: 500px;
    height: 50px;
    margin: auto;
}
.top img{
    height: 40px;
    margin-top: 5px;
    float: left;
}
.top p{
    float: left;
    font-size: 24px;
    margin-top: 13px;
    margin-left: 20px;
    font-family: 楷体;
    font-weight: bold;
    color: burlywood;
}
section{
    width: 100%;
    height: 600px;
}
.logo{
    width: 350px;
    height: 200px;
    position: absolute;
    left: 100px;
    bottom: 180px;
}
.background img{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
}
.logo p{
    color: white;
    margin: 0;
    font-size: 13.8px;
}
.login{
    width: 300px;
    height: 400px;
    background-color: white;
    position: absolute;
    right: 100px;
    top: 140px;
    border-radius: 20px;
    box-shadow: black 0px 0px 20px 0px;
}
.user img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
.user{
    width: 260px;
    height: 40px;
    margin-left: 20px;
    border-radius: 20px;
    border-style: none;
    border: 1px solid black;
    margin-top: 20px;
}
.user input{
    height: 38px;
    width: 170px;
    float: left;
    border: none;
    outline: none;
    padding-left: 10px;
}
.end{
    width: 100%;
    height: 90px;
    text-align: center;
}
.end p{
    margin-top: 10px;
    font-family: 楷体;
    font-weight: bold;
    color: burlywood;
}
.head{
    width: 300px;
    height: 40px;
    text-align: center;
}
.input{
    height: 120px;
}
.sub{
    width: 300px;
    height: 60px;
    text-align: center;
}
.sub input{
    width: 60px;
    height: 30px;
    outline: none;
    color: #788494;
    cursor: pointer;
}
.sub a{
    text-decoration: none;
}
.sub p{
    font-size: 13px;
    color: #788494;
}
.main{
    border-bottom: 1px solid gray;
    height: 300px;
}
.foot{
    text-align: center;
}
.foot p{
    margin-top: 5px;
    font-size: 12px;
    color: #788494;
}
.foot img{
    width: 30px;
}
#view{
    cursor: pointer;
    position: absolute;
    display: none;
}
#viewoff{
    cursor: pointer;
}
.yzm{
    width: 300px;
    height: 36px;
    margin-bottom: 10px;
}
.yzm img{
    margin-left: 28px;
    float: left;
}
#authcode{
    width: 50px;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    outline: none;
}