a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
}

.top {
    width: 100%;
    height: 198px;
    background-image: url(../img/top-bj2.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.top .search {
    width: 594px;
    height: 40px;
    color: white;
    position: absolute;
    top: 13px;
    right: 0px;
}

.top .search a {
    color: white;
    width: 80px;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.top .search .top_left {
    float: left;
}

.top .search .top_right {
    float: left;
    width: 380px;
    opacity: 0.4;

}

.top .search .top_right:hover {
    opacity: 1;
}

.top .search .top_right #srea {
    width: 200px;
    height: 30px;
    font-size: 14px;
    border: 0;
    text-indent: 15px;
    border-radius: 6px 0 0 6px;
}

.top .search .top_right #srea1 {
    width: 50px;
    height: 30px;
    vertical-align: middle;
    border: 0;
    font-size: 16px;
    color: #fff;
    background: #084466;
    cursor: pointer;
}

.nav {
    height: 50px;
    width: 100%;
    background: rgb(8, 68, 102);
    margin-bottom: 1px;

}

.nav_container {
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

#nav_style>li {
    float: left;
    width: 120px;
    height: 50px;
    line-height: 50px;

}

#nav_style>li>a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

#nav_style .nav_style1>li>a {
    text-decoration: none;
    color: white;
}

#nav_style .nav_style1>li {
    border-bottom: black 1px solid;
    width: 200px;
    background: rgb(8, 68, 102);

}

#nav_style .nav_style1 {
    display: none;

    position: absolute;
    z-index: 999;
}

.content {
    padding-top: 30px;
    width: 1280px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.content .right {
    float: left;
    width: 250px;
    padding: 0;
    background-color: #f4f4f4;
}

.content .list_1 {
    height: 40px;
    border-bottom: 2px #999 dotted;
}

.content .list_1 p {
    height: 2em;
    margin-left: 30px;
    line-height: 2em;
    font-size: 20px;
    font-weight: bold;
    color: #900;
}

.list_2 li {
    padding-left: 30px;
    list-style: none;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    overflow: hidden;
}

.list_2 li a {
    display: block;
    height: 40px;
    width: 214px;
    color: #333;
    font-size: 15px;
}

.list_3 .banner {
    left: 0;
    top: 2px;
    width: 100%;
    height: 198px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.banner #banner_style1 {
    width: 500%;
    position: absolute;
    left: 0;
    top: 0;
}

.banner #banner_style1 li {
    list-style: none;
    height: 198px;
    float: left;
}

.banner #banner_style1 li img {
    height: 198px;
    width: 250px;
}

.list_4 ul li {
    padding-left: 30px;
    list-style: none;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    overflow: hidden;
}

.list_4 ul li a {
    display: block;
    height: 40px;
    width: 214px;
    color: #333;
    font-size: 15px;
}

.left {
    float: left;
    width: 970px;
    margin-left: 30px;
    padding-bottom: 50px;
    background: #FFFFFF;
}

.left h3 {
    width: 100%;
    height: 40px;
    background: #EEEEEE;
    line-height:40px;
    padding-left:10px;
    border-bottom: 1px dashed #c2c2c2;
    margin-bottom: 10px;
}

.left h3 i {
    display: inline-block;
    width: 32px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

.left h3 i img {
    width: 30px;
    height: 28px;
}

.left h3 span {
    display: inline-block;
    color: #000;
    font-size:16px;
    margin-right: 10px;
    vertical-align: middle;
}

.left h3 a {
    display: inline-block;
    color: #000;
    margin-right: 10px;
    vertical-align: middle;
    font-size:16px;
}

.left_bottom {
    float: left;
    width: 970px;
    padding-bottom: 50px;
    background: #FFFFFF;
}

.left_bottom ul li {
    width: 970px;
    height: 20px;
    margin: 10px 0;

}

.left_bottom ul li a {
    TEXT-DECORATION: none;
    COLOR: #000;
    LINE-HEIGHT: 20px;
    width: auto;
    font-size: 17px;
}

.left_bottom ul li span {
    float: right;
    width: 100px;
    font-size: 17px;

}

.left_bottom ul li img {
    margin-right: 5px;
}
.left .bengkui{
    FONT-SIZE: 16px;
    white-space:normal;
    width: 970px;
    
}
.bengkui h2,.bengkui h4{
    text-align: center;
    letter-spacing:4px;
}

.to {
    float: right !important;
    margin-bottom: 30px;
}

.to .to1 {
    font-size: 12px;
    font-family: 宋体;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    line-height: 14px;
}

.to .to2 {
    font-size: 12px;
    font-family: 宋体;
    display: inline-block;
    height: 14px;
    margin-right: 3px;
    padding: 2px 4px;
    background: #fff;
    color: #ccc;
    border: solid 1px #AFD5F5;
    line-height: 14px;
}

.to .to4 {
    text-decoration: none;
    line-height: 14px;
    display: inline-block;
    height: 14px;
    border: solid 1px #AFD5F5;
    background: #fff;
    MARGIN-RIGHT: 1px;
    margin-left: 2px;
    padding: 2px 4px;
}

.to .to4 a {
    font-size: 12px;
    font-family: 宋体;
    color: #000000;
}

.to7 {
    font-size: 12px;
    font-family: 宋体;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    line-height: 14px;
}

.to7 #to7_1 {
    CURSOR: pointer;
    line-height: 14px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#BDDBF7));
    font-size: 12px;
    font-family: 宋体;
    height: 20px;
    color: #000000;
    BORDER: #AFD5F5 1px solid;
    margin: 0px;
    padding: 0px;
}

.to7 #to7_2 {
    margin-left: 1px;
    margin-right: 1px;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);

    text-indent: 0px;

    display: inline-block;
    text-align: start;

    background-color: -internal-light-dark-color(white, black);

    cursor: text;
    width: 41.6px;
}


.bottom1 {
    width: 100%;
    height: 30px;
    background: #04628D;
}

.bottom2 {
    width: 100%;
    height: 70px;
    padding-top: 15px;
}

.bottom2 p {
    text-align: center;
}

.bottom2 p a {
    color: #000;
    font-size: 16px;
}

.footer {
    width: 84%;
    border-top: 1px solid #c2c2cc;
    height: 120px;
    margin: 0 auto;
    margin-top: 30px;
}