@charset "utf-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
}
li{
    list-style: none;
}
input{
	border:none;
}
body{
    width: 100%;
	min-width: 1200px;
	background:url(../images/back.jpg)  no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
    background-color:green;
}
.login{
	width: 400px;
	height: 300px;
	//border: 2px solid black;
	margin: 0 auto;
	margin-top:100px;
	background-color: #ffffff;
	border-radius: 10px;
	filter: alpha(opacity=60); /* IE */ 
	-moz-opacity: 0.6; /* Firefox */
	opacity: 0.6; /* others */
}
.login .title{
	width: 50%;
	margin: 0 auto;
	//border: 1px solid black;
}
.login .username{
	width: 70%;
	border: 1px solid black;
	height: 40px;
	margin: 0 auto;
	margin-top: 30px;
}
.login .username input{
	height: 90%;
	width: 80%;
	float: right;
	font-size: 15px;
	outline:none;
}
.login .left{
	width: 18%;
	height: 100%;
	float: left;
	border-right: 1px solid black;
}
.login .left img{
	height: 80%;
	width: 80%;
	margin-top: 15%;
	margin-left: 5px;
}
.login .password{
	width: 70%;
	border: 1px solid black;
	height: 40px;
	margin: 0 auto;
	margin-top: 20px;
}
.login .password input{
	height: 90%;
	width: 80%;
	float: right;
	font-size: 15px;
	outline:none;
}
.login .button{
	width: 70%;
	border: 1px solid black;
	height: 40px;
	margin: 0 auto;
	margin-top: 30px;
	color: #000;
	cursor: pointer;
}
.login .button input{
	width: 100%;
	height: 100%;
	font-size: 20px;
	cursor: pointer;
}
.login .else{
	width: 100%;
	height: 30px;
	margin-top: 20px;
}
 
.login .else ul li{
	width: 30%;
	height: 100%;
	margin-left: 10px;
	float: left;
	font-size: 13px;
	margin-top: 5px;
	cursor: pointer;
}
.login .else ul .register{
	float: right;
	padding-left: 10px;

}
.login .else ul .register p{
	float: right;
	margin-right: 5px;
}
.footer{
	width: 55%;
	margin:0 auto;
	margin-bottom: -50px;
}
.footer p{
	margin: 0 auto;
}
.footer p span:hover{
	cursor: pointer;
	color: red;
}












.addnews h1{
	margin: 0 auto;
	width: 38%;
	letter-spacing:20px;
}
.addnews table{
	margin: 0 auto;
}
.addnews table .text{
	height: 200px;
}
.addnews input{
	width: 100%;
	height: 100%;
	border:none;

}
.addnews .sub input{
	width: 40px;
}