/* Lyb Start */
.lyb{
    position: absolute;
    top: 20%;
    left: 32%;
    display: none;
}
.lybmain{
    width: 624px;
    height: 530px;
    position: fixed;
    box-shadow: black 0px 0px 30px 1px;
    z-index: 201;
    background-color: white;
}
.lybtitle{
    width: 624px;
    height: 50px;
    text-align: center;
}
.lybtitle p{
    font-size: 24px;
    font-family: 楷体;
    font-weight: bold;
    margin-top: 20px;
}
.lybcontent{
    width: 590px;
    height: 440px;
    margin: auto;
    background-color: #f5f5f5;
}
.lybcontenttitle{
    width: 588px;
    height: 32px;
    background-color: #E2F2FA;
    border: 1px solid #C1E0FF;
}
.lybcontenttitle p{
    font-size: 11pt;
    color: #2F7195;
    font-weight: bold;
    line-height: 30px;
    margin-left: 10px;
}
.lybinput{
    width: 560px;
    height: 307px;
    border: 1px solid #C1E0FF;
    margin: 10px auto;
    background-color: white;
}
.inputtitle{
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}
.inputtitle p{
    font-size: 9pt;
    font-weight: bold;
    color: #2F7195;
    float: left;
}
.inputtitle input{
    width: 130px;
    margin-left: 10px;
    margin-right: 3px;
    border:1px solid #C1E0FF;
    height: 19px;
}
#check{
    width: 15px;
    vertical-align: middle;
    margin-left: 0;
    margin-right: 5px;
}
.inputtitle span{
    font-size: 9pt;
    font-weight: bold;
    color: #2F7195;
    float: left;
    margin-top: 5px;
}
.inputtitle span input{
    width: 300px;
}
.inputtitle i{
    margin-right: 10px;
    color: red;
}
.inputtext{
    width: 545px;
    height: 200px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 5px;
}
.inputtext textarea{
    width: 545px;
    height: 200px;
    font-size: 17px;
    font-family: 黑体;
    outline: none;
    resize: none;
    border: 1px solid #C1E0FF;
}

.inputfoot p{
    font-size: 9pt;
    font-weight: bold;
    color: #2F7195;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}
.inputfoot input{
    width: 50px;
    margin-left: 10px;
    margin-right: 3px;
    border:1px solid #C1E0FF;
    height: 19px;
}
.close{
    width: 560px;
    height: 50px;
    margin-top: 30px;
}
.close p{
    color: #04628D;
    border-bottom: 1px solid #04628D;
    width: 65px;
    margin: auto;
    cursor: pointer;
}
.inputfoot button{
    width: 35px;
    height: 20px;
    line-height: 10px;
    float: left;
    margin-top: 3px;
    margin-left: 10px;
}
.inputfoot img{
    margin-top: 3px;
    float: left;
    margin-left: 5px;
}
.show{
    float: left;
    display: block;
    height: 24px;
}
.hide{
    float: left;
    display: block;
}
.show2{
    display: block;
}
/* Lyb End */