/* Content Start */


/* Content Left Start*/
.left{
    width: 250px;
    height: 625px;
    background-color: #F0F0F0;
    overflow: hidden;
    float: left;
}
.left li{
    width: 220px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 1px;
}
.left .title{
    color: #990000;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px dotted gray;
    padding-left: 30px;
}
.leftpic{
    width: 750px;
    height: 180px;
    position: relative;
}
.leftpic img{
    width: 250px;
    height: 180px;
    float: left;
    margin-top: 2px;
}
.left a{
    width: 220px;
    display: block;
    padding-left: 30px;
    color: black;
}
.left2 a{
    width: 220px;
    display: block;
    padding-left: 30px;
    color: black;
}

/* Content Left End */
.content{
    width: 1280px;
    height: 630px;
    margin: 30px auto;
}

/* Content Right Start */
.right{
    width: 1000px;
    height: 548px;
    float: left;
    margin-left: 28px;
}
.righttitle{
    width: 1000px;
    height: 38px;
    border-bottom: 1px darkgray dashed;
    margin-top: 9px;
}
.righttitle img{
    width: 30px;
    height: 28px;
    margin-left: 10px;
    float: left;
    margin-right: 20px;
}
.righttitle p{
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-right: 17px;
    line-height: 35px;
}
.righttext{
    width: 1000px;
    height: 30px;
}
.righttext img{
    float: left;
    width: 34px;
    height: 30px;
    margin-right: 10px;
}
.righttext p{
    float: left;
    font-size: 11pt;
    font-weight: bold;
    line-height: 40px;
}
.btn{
    width: 30px;
    text-align: center;
    height: 15px;
    line-height: 15px;
    border: 1px solid #AFD5F5;
}
.righttitle a{
    color: black;
}
.righttable{
    float: left;
}
.righttable td{
    font-size: 9pt;
    text-align: center;
    background-color: #E0E7EC;
    background-image: linear-gradient(white,#B8C9D2);
}
.righttable{
    width: 1000px;
    height: 25px;
    margin: auto;
}
.rightfoot p{
    color: rgb(137, 36, 7);
    font-size: 9pt;
    font-weight: bold;
}
.rightfoot span{
    color: black;
    font-weight: normal;
}
/*Content Right End*/

/* Content End */