.content{
    width: 1280px;
    height: 800px;
    margin: 30px auto;
}
.right{
    width: 1000px;
    height: 548px;
    float: left;
    margin-left: 28px;
}
.righttitle{
    float: left;
    width: 1000px;
    height: 42px;
    background-color: #F0F0F0;
    border-bottom: 1px darkgray dashed;
}
.righttitle img{
    width: 30px;
    height: 28px;
    margin-left: 10px;
    float: left;
    margin-top: 5px;
}
.righttitle p{
    float: left;
    line-height: 45px;
    margin-left: 15px;
}
.righttitle a{
    color: black;
}
.rightcontent{
    width: 1000px;
    height: 720px;
    float: left;
}
.contenttitle{
    width: 400px;
    height: 100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.contenttitle p{
    font-size: 18px;
    font-weight: bold;
    font-family: 宋体;
    line-height: 30px;
}
.contenttitle span{
    line-height: 30px;
}
.contenttext p{
    font-family: 宋体;
    font-size: 16px;
    text-indent: 32px;
    line-height: 180%;
}