/* Content Start */

.content{
    width: 1280px;
    height: 720px;
    margin: 30px auto;
}
.right{
    width: 1000px;
    height: 548px;
    float: left;
    margin-left: 28px;
}
.righttitle{
    width: 1000px;
    height: 38px;
    border-bottom: 1px darkgray dashed;
    margin-top: 9px;
}
.righttitle img{
    width: 30px;
    height: 28px;
    margin-left: 10px;
    float: left;
    margin-right: 20px;
}
.righttitle p{
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-right: 17px;
    line-height: 35px;
}
.rightpoint{
    width: 5px;
    height: 330px;
    margin-top: 30px;
    line-height: 30px;
    margin-left: 3px;
    float: left;
}
.righttext{
    width: 800px;
    height: 330px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 5px;
    float: left;
    font-size: 17px;
}
.righttext a{
    color: black;
    text-decoration: none;
}
.rightdate{
    width: 100px;
    height: 330px;
    float: left;
    line-height: 30px;
    margin-top: 30px;
    font-size: 17px;
    margin-left: 80px;
}
.rightfunc{
    height: 20px;
    font-size: 12px;
    float: left;
    margin-left: 600px;
}
.rightfunc p{
    float: left;
    margin-right: 15px;
    font-family: 宋体;
}
.rightfunc input{
    width: 30px;
}
.btn{
    width: 30px;
    text-align: center;
    height: 15px;
    line-height: 15px;
    border: 1px solid #AFD5F5;
}
.righttitle a{
    color: black;
}
/* Content End */